@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
/* generically prefix any property name */
/* for border-radius, named to be consistent with roundedcorner */
/* used for rounding a single corner. eg. roundedcorner(top, left) */
/* useful for semi-transparent borders which can have bleed-through. See https://developer.mozilla.org/en/CSS/background-clip */
/* if you need to transition a prefixed property, use this instead */
html,
body {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  color: #21243D;
}

html:focus,
body:focus {
  outline: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 16;
  font-size: 1rem;
}

.title-md {
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2rem;
}

.title-lg {
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.75rem;
}

.main-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: calc(100vw - 140px * 2);
  padding: 1.0625rem 0;
}

.main-nav {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
  padding: 1.0625rem 3.75rem 0;
}

.main-nav .navbar-brand {
  width: 8.75rem !important;
}

.main-nav .navbar-brand img {
  width: 100%;
}

.main-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-nav .nav-links .nav-link {
  font-size: 1.25rem;
}

.main-nav .nav-links .nav-link * {
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-nav .nav-links .nav-link *.active {
  color: #FF6464;
}

.main-nav .nav-links .nav-link *:hover {
  color: #FF6464;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.125rem 3.75rem 0;
}

.footer .social-media {
  width: 13.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.5625rem;
}

.footer .social-media img {
  width: 1.75rem;
}

.footer .copyright {
  font-size: 14;
  font-size: 0.875rem;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.125rem 1.5625rem;
  z-index: 3;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.125rem;
  border-radius: 0.4375rem;
}

.blog-card-img {
  margin-right: 1.125rem;
  min-width: 20rem;
}

.blog-card-img img {
  width: 100%;
  border-radius: 0.375rem;
}

.blog-card-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.375rem;
}

.blog-card .category {
  background-color: #222020;
  border-radius: 1.125rem;
  padding: 0.5rem 1.25rem;
  color: #8695A4;
  margin-right: 0.5rem;
}
/*# sourceMappingURL=index.css.map */