$primary-clr: #FF6464;
$secondary-clr: #00A8CC;
$dark-clr: #21243D;
$light-clr: #8695A4;
$black-clr: #000;
$white-clr: #fff;
$transition: all .2s linear;
$dark-gray: #222020;
$gray: #444B59;
$purple: #8699DA;
$light-purple: #C8D3F9;
$border-clr: #789ADE;